[Unit]
Description=Monkey is a lightweight and powerful web server and development stack for GNU/Linux.
Documentation=http://monkey-project.com/
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=fork
PIDFile=/var/run/monkey.pid.80
ExecStart=/usr/bin/monkey --daemon
LimitNOFILE=2000000
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target